/* styles.css */

form {
  display: flex;
  align-items: center; /* Alinea los elementos verticalmente */
  gap: 10px; /* Espacio entre el input y el botón */
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 30%;
}

button {
  padding: 10px 16px;
  background-color: #007bff; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3; /* Cambia el color de fondo al pasar el mouse sobre el botón */
}





.cards {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap; /* Esto permite que las tarjetas se envuelvan a una nueva línea */
    justify-content: space-between; /* Espaciado uniforme entre las tarjetas */
  }
  
  .card {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    width: calc(33.33% - 20px); 
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
  }
  
  .card-img-top {
    max-width: 100%;
    height: auto;
    display: flex;
    align-items: center;
  }
  
  .card-body {
    text-align: center;
  }

  @media (max-width: 700px) {
    .cards {
        justify-content: center; /* Centra las tarjetas en lugar de espaciarse uniformemente */
    }

    .card {
        width: 100%; /* Ocupa el 100% del ancho disponible, mostrándose en una columna */
    }
}

@media (max-width: 400px) {
  .cards {
      justify-content: center; 
  }

  .card {
      width: 100%; 
      width: auto;
  }
}

  